<!DOCTYPE html>
<html>

{% include 'auth/includes/auth_head.html' %}

<body class="bg-gradient-primary" style="background: var(--bs-gray-300);">
<div class="container">
    <div class="row justify-content-center"
         style="padding-top: 89px;margin-right: 0px;margin-left: 0px;margin-top: 21px;">
        <div class="col-md-9 col-lg-12 col-xl-4" style="width: 387px;">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12 col-xl-12 offset-xxl-3" style="margin-left: 0;">
                            <div class="p-5" style="height: auto;">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">
                                        <span style="color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) ;">
                                        Забыли пароль?
                                    </span>
                                        <br>
                                    </h4>
                                </div>
                                <p style="text-align: center;">
                                    Мы понимаем, всякое случается. Просто введите свой адрес
                                    электронной почты ниже, и мы вышлем вам ссылку для сброса пароля!
                                    <br>
                                </p>

                                <form method="POST"
                                      action="{{ url_for('auth.run_password_recovery') }}"
                                      class="user">

                                    <input type="hidden"
                                           name="csrf_token"
                                           value="{{ csrf_token }}">

                                    <div class="mb-3">
                                        <input class="form-control form-control-user"
                                               type="email"
                                               id="exampleInputEmail"
                                               aria-describedby="emailHelp"
                                               placeholder="Введите email..."
                                               name="email">
                                    </div>

                                    {% if error_email %}
                                        <div class="alert alert-danger visible"
                                             role="alert"
                                             style="height: auto; padding: 10px; text-align: center; margin-bottom: 20px;">
                                            <span>
                                                <strong>{{ error_email }}</strong>
                                            </span>
                                        </div>
                                    {% endif %}

                                    <div class="mb-3"></div>
                                    <div class="mb-3">
                                        <div class="custom-control custom-checkbox small"></div>
                                    </div>
                                    <button class="btn btn-primary d-block btn-user w-100" type="submit">
                                        Сбросить пароль
                                    </button>
                                    <hr>
                                </form>
                                <div class="text-center">
                                    <a class="small"
                                       href="{{ url_for('auth.registrate') }}">
                                        Регистрация
                                    </a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ url_for('auth.login') }}">
                                        Есть аккаунт? Авторизуйтесь!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'auth/includes/auth_scripts.html' %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var contextElement = document.querySelector(".alert-info");
        var formContainer = document.querySelector(".p-5");

        if (contextElement) {
            formContainer.style.height = "auto";
        }
    });
</script>

</body>

</html>
